#container{
    margin: 40px auto;
    width: 50em;
}
.title{
    text-align: center;
    font-size: 2rem;
    color: #555555;
    padding: 1rem;
}
.content{
    font-size: 1.5rem;
    
}
.article_nav #next{
    float: left;
}
.article_nav #prev{
    float: right;
}